* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100%;
	font-family: Times,monospace;;
}

a {
	text-decoration: none !important;
  color: black;
}

li {
	list-style: none;
}

.section-container {
	width: 95%;
	max-width: 1170px;
	margin: 0 auto;
}

/* HEADER */

.header {
	width: 100%;
	height: 108px;
	display: flex;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1050;
}

.header-navigation {
	display: flex;
	align-items: center;
	background-color: #F9EBB2;
	height: 100px;
	width: 100%;
	padding: 0 10px;
}

.header-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.icons-wrapper {
  display: flex;
  justify-content: end;
}

.logo-icon, .basket-icon, .order-history {
  width: 50px;
  cursor: pointer;
}

.login-icon {
  width: 50px;
  margin-right: 20px;
  margin-left: 20px;
  cursor: pointer;
}

.cart-icon {
  width: 50px;
  margin-right: 20px;
  margin-left: 20px;
  cursor: pointer;
}



#goodsInCart {
  position: relative;
  top: 17px;
  right: 43px;
  cursor: pointer;
}

#btnLogout {
  width: 100px;
  height: 50px;
  border-radius: 20px;
  border: 1px solid transparent;
  background-color:  #e8d68e;
  cursor: pointer;
  font-weight: bold;
}

#btnLogout:hover {
  background-color: #dec564;
  transition: all 0.25s ease;
}

/* User */

.user-info {
  display: flex;
  font-weight: bold;
  font-size: 15px;
}

#user {
  padding-left: 20px;
}

/* AUTHORIZATION/REGISTRATION FORMS */

.form-title {
  width: 100%;
  text-align: center;
  padding-bottom: 40px;
}

.form-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.loginInput {
  text-align: center;
  background-color: #F0F0F0;
  border: 1px solid #F9EBB2;
}

.passwordInput {
  margin-right: 20px;
  margin-left: 20px;
  text-align: center;
  background-color: #F0F0F0;
  border: 1px solid #F9EBB2;
}

.form-container button {
  width: 150px;
  height: 35px;
  border-radius: 20px;
  border: 1px solid #F9EBB2;
  background-color: #F0F0F0;
  cursor: pointer;
}


/* MAIN */
.main-container {
  width: 100%;
  display: flex;
  gap: 20px;
}

/* ASIDE */

.aside {
  width: 30%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  background-color:#B4CCB9;
}

.good-categories {
  width: 100%;
}

li {
  padding: 25px;
  text-align: center;
  color: #131313;
  cursor: pointer;
}

li:hover {
  background-color: #728f78;
  transition: all 0.25s ease;
}


/* CARDS WITH GOODS */

.main-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  gap: 20px;
  padding-top: 40px;
}

.wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.goods-card {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
  background-color: #B4CCB9; 
  margin: 20px;
  padding: 20px;
  
}

.wrapper-of-good {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  font-size: 20px;
  padding: 25px;
}

.goods-card img {
  max-width: 300px;
  max-height: 300px;
}

.goods-card h3 {
  text-align: center;
  word-break: break-all;
}

.goods-card a {
  font-weight: bold;
  width: 150px;
  height: 45px;
  border-radius: 20px;
  border: 1px solid #F9EBB2;
  cursor: pointer;
  background-color: #F0F0F0;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

.goods-card-button {
  width: 150px;
  height: 50px;
  border-radius: 20px;
  border: 1px solid #F9EBB2;
  cursor: pointer;
}


/* DETAILS */
.details-of-good {
  margin: 0 auto;
  background-color: #B4CCB9;
  padding: 20px;
}

.details-of-good img {
  max-width: 300px;
  max-height: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.details-of-good p {
  padding-top: 20px;
  padding-bottom: 20px;
}

.add-from-details {
 margin-top: 20px;
 margin-bottom: 20px;
 width: 130px;
 height: 50px;
 border-radius: 20px;
 border: 1px solid #F9EBB2;
 cursor: pointer;
}

.remove-from-details {
  width: 130px;
  height: 50px;
  border-radius: 20px;
  border: 1px solid #F9EBB2;
  cursor: pointer;
}


/* ORDER HISTORY */

.order-details {
  width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background-color: #B4CCB9;
    margin: 20px;
    padding: 20px;
}


/* CART */

.cart-details {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
  background-color: #B4CCB9;
  margin: 20px;
  padding: 20px;
  margin: 0 auto;
}
.btnForOrder {
  width: 150px;
  height: 50px;
  border-radius: 20px;
  border: 1px solid #F9EBB2;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btnForClearCart {
  width: 150px;
  height: 50px;
  border-radius: 20px;
  border: 1px solid #F9EBB2;
  cursor: pointer;
  margin-bottom: 20px;
}

.cart-text {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
.btn-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btnDecrease, .btnIncrease {
  width: 50px;
  height: 25px;
  border-radius: 20px;
  border: 1px solid #F9EBB2;
  cursor: pointer;
  margin-left: 20px;
  margin-right: 20px;
}

.btnRemove {
  width: 100px;
  height: 25px;
  border-radius: 20px;
  border: 1px solid #F9EBB2;
  cursor: pointer;  
}

/* FOOTER */

.footer {
  background-color: #F9EBB2;
  color: #131313;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 17px;
  padding: 20px;
}